<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.awesome.medifofo"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MediTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".adapter.GridAdapter$IntroActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="Login" />
        <activity
            android:name=".activity.PersonalInputActivity"
            android:label="User Input" />
        <activity
            android:name=".activity.MainActivity"
            android:label="Symptom Checker" />
        <activity
            android:name=".activity.SymptomListActivity"
            android:label="Symptom Checker"></activity>
    </application>

</manifest>